<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}The Observatory{% endblock %}</title>
    {% block site_css %}
        <link rel="stylesheet/css" type="text/css" href="{{ url_for('static', filename='app.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div id="main">
        <h1>The Observatory</h1>
    </div>
    {% endblock %}
<body>
{% block site_js %}
    <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
{% endblock %}
</html>
