<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}The Observatory{% endblock %}</title>
    {% block site_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}
    <div id="main">
        <h1>The Observatory</h1>
    </div>
    {% endblock %}
<body>
{% block site_js %}
    <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
    <script type="text/javascript" src="https://raw.github.com/janl/mustache.js/c09c7f54a3be7c9e65bef71948d922311b49c8d7/mustache.js"></script>
{% endblock %}
</html>
