{% extends "index.html" %}
{% block content %}
    <div id="releasedash">
        <header><h1>Socorro Release Dashboard</h1></header>
        <section>
            <h2>In Development</h2>
            <ul id="branches">
            </ul>
        </section>

        <section>
            <h2>Releases</h2>
            <ul id="releases">
            </ul>
        </section>

        <footer><a href="https://github.com/Lonnen/Socorro/tree/gh-pages#" >source</a></footer>
    </div>

{% endblock %}
{% block site_js %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='releases.js') }}"></script>
{% endblock %}
